{% extends 'base.html' %}

{% block title %}Mi Perfil{% endblock %}

{% block header %}
<header>
    {% include 'includes/barra_navegacion.html' %}
</header>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/mi_perfil.css') }}">
{% endblock %}

{% block content %}

<div class="profile-container">

    <h2>Mi Perfil</h2>
    <i class="fas fa-user profile-icon"></i>

    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="flash-message {{ category }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="profile-item">
        <i class="fas fa-user icon"></i>
        <span>Primer Nombre:</span> {{ user.primer_nombre }}
    </div>

    <div class="profile-item">
        <i class="fas fa-user icon"></i>
        <span>Segundo Nombre:</span> {{ user.segundo_nombre }}
    </div>

    <div class="profile-item">
        <i class="fas fa-user icon"></i>
        <span>Primer Apellido:</span> {{ user.primer_apellido }}
    </div>

    <div class="profile-item">
        <i class="fas fa-user icon"></i>
        <span>Segundo Apellido:</span> {{ user.segundo_apellido }}
    </div>

    <div class="profile-item">
        <i class="fas fa-phone icon"></i>
        <span>Celular:</span> {{ user.telefono }}
    </div>

    <div class="profile-item">
        <i class="fas fa-envelope icon"></i>
        <span>Correo:</span> {{ user.correo }}
    </div>

    <div class="profile-item">
        <i class="fas fa-id-card icon"></i>
        <span>Cédula:</span> {{ user.cedula }}
    </div>

    <a href="{{ url_for('actualizar') }}" class="btn-edit">Editar</a>
    <a href="{{ url_for('index') }}" class="btn-back">Volver a Inicio</a>
</div>
{% endblock %}